@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-to-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bg-slide {
  from {
    transform: translate(0);
    opacity: 0;
  }
  to {
    transform: translate(-9px, 12px);
    opacity: 1;
  }
}
