<section id="about" class="about">
  <div class="about__container container">
    <div class="about__wrapper">
      <div class="about__text">
        <h2 class="about__title">
          Auf der Suche nach einem Praktikumsplatz als angehender
          Fachinformatiker
        </h2>
        <p class="about__paragraph">
          <img
            class="about__logo about__logo--html"
            src="./images/Logo/html5_logo1.png"
            alt="HTML5 Logo"
          />
          <img
            class="about__logo about__logo--css"
            src="./images/Logo/css3_logo.png"
            alt="CSS3 Logo"
          />
          <img
            class="about__logo about__logo--js"
            src="./images/Logo/js_logo.png"
            alt="JavaScript Logo"
          />
          <img
            class="about__logo about__logo--react"
            src="./images/Logo/react_logo2.png"
            alt="React Logo"
          />
          <img
            class="about__logo about__logo--github"
            src="./images/Logo/github_logo.png"
            alt="GitHub Logo"
          />
          <span class="about__content">
            Ich bin am 23. Mai 1982 in Russland geboren worden. Im Jahr 1998
            wagte meine Familie den Schritt nach Deutschland, wo ich meine
            schulische Ausbildung abschloss und meine erste Ausbildung als
            Fachlagerist absolvierte. Doch schon immer schlug mein Herz für die
            kreative Welt des Webdesigns und Softwareentwicklung. Als Hobby
            gestaltete und entwickelte ich kleine Webseiten und entdeckte meine
            Leidenschaft für die digitale Gestaltung.
          </span>
          <span class="about__content">
            Vor einiger Zeit entschied ich mich, meine Fähigkeiten weiter
            auszubauen, und begann einen Fernlehrgang als Frontend Entwickler an
            der GoIT Schule in Kiew, Ukraine. Während des Kurses arbeitete ich
            an verschiedenen Projekten, sowohl in Teams als auch alleine, und
            erwarb grundlegende Kenntnisse in HTML, CSS, SASS, GitHub sowie
            erste Schritte in JavaScript und React.
          </span>
          <span class="about__content">
            Anfang Januar habe ich meine Umschulung zum Fachinformatiker für
            Anwendungsentwicklung begonnen. Diese Umschulung beinhaltet drei
            Pflichtpraktika, jeweils mit einer Dauer von zwei Monaten. Daher bin
            ich aktuell auf der Suche nach einem Praktikumsplatz in einem
            Unternehmen, das als Ausbildungsbetrieb von der IHK anerkannt ist.
            Während dieser Praktika möchte ich mein erworbenes Wissen vertiefen
            und in der Praxis anwenden. Gleichzeitig freue ich mich darauf, von
            erfahrenen Kollegen zu lernen und mein Verständnis für die Welt der
            Softwareentwicklung zu erweitern. Es wäre für mich eine große
            Freude, ein passendes Unternehmen zu finden, bei dem ich alle drei
            Praktika absolvieren kann. Ich bin hochmotiviert, engagiert und
            bereit, mein Bestes zu geben, um meine Fähigkeiten
            weiterzuentwickeln.
          </span>
        </p>
      </div>
      <button id="toggleButton" class="read-more-button">Weiterlesen</button>
    </div>
  </div>
</section>
