<footer id="footer" class="footer">
  <div class="footer__container container">
    <div class="footer__contacts">
      <a class="footer__logo" href="./index.html">
        <img
          class="logo__img"
          src="./images/Logo/Original_on_Transparent.png"
          alt="Logo Roman Fausel"
        />
      </a>
      <address class="footer__address">
        <ul class="footer__list">
          <li class="footer__item">
            <a
              class="footer__link footer__link--map"
              href="https://maps.app.goo.gl/Si3Wd4rdFWFMYqLB9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >51069 Köln, Leimbachweg 34
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:roman.fausel@icloud.com">
              roman.fausel@icloud.com
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="tel:+4917684522513">
              +49 176 84522513
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer__socials">
      <ul class="socials">
        <li class="socials__item">
          <a
            class="socials__link socials__link--secondary"
            href="https://www.instagram.com/romanfausel/"
            aria-label="Instagramm Link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--secondary"
            href="https://www.facebook.com/roman.fausel"
            aria-label="Facebook Link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--secondary"
            href="https://github.com/RoMaN-CoLoGnE?tab=repositories"
            aria-label="GitHub Link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/svg/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link socials__link--secondary"
            href="https://www.linkedin.com/in/roman-fausel-b33146304/"
            aria-label="LinkedIn Link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="socials__icon">
              <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        &copy;2024 Design and development by Roman Fausel
      </p>
    </div>
  </div>
</footer>
