<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <img src="#" alt="" class="footer__logo" />
      <ul class="footer__socials">
        <li class="footer__links">
          <img src="#" alt="" class="footer__icon" />
        </li>
        <li class="footer__links">
          <img src="#" alt="" class="footer__icon" />
        </li>
        <li class="footer__links">
          <img src="#" alt="" class="footer__icon" />
        </li>
      </ul>
    </div>
  </div>
</footer>
