<header id="home" class="header">
  <div class="header__container container">
    <nav class="header__nav">
      <a class="logo" href="./index.html">
        <img
          class="logo__img"
          src="./images/Logo/Original_on_Transparent.png"
          alt="Logo Roman Fausel"
        />
      </a>
      <!-- Mobile Menu -->
      <div class="row">
        <input type="checkbox" id="hamburg" />
        <label for="hamburg" class="hamburg">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </label>

        <nav class="topmenu">
          <ul class="topmenu__list">
            <li class="topmenu__item">
              <a href="#home">Home</a>
            </li>
            <li class="topmenu__item">
              <a id="mob-about" href="#about">About Me</a>
            </li>
            <li class="topmenu__item">
              <a href="#projects">Projects</a>
            </li>
            <li class="topmenu__item">
              <a href="#hobbys">Hobbys</a>
            </li>
            <li class="topmenu__item">
              <a href="#footer">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Desktop Menu -->
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="home">Home</a>
        </li>
        <li class="menu__item">
          <a id="desc-about" class="menu__link" href="#about">About Me</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#projects">Projects</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#hobbys">Hobbys</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#footer">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
