<section class="hero">
  <div class="hero__container container">
    <div class="hero__wrapper">
      <div class="hero__thumb">
        <div class="hero__picture"></div>
      </div>
      <div class="hero__content">
        <h1 class="hero__title">
          <span class="herp__title--top">Hi, Ich bin Roman!</span>
          <span class="hero__title--bottom"
            >Kreativer Fachinformatiker für Anwendungsentwicklung</span
          >
        </h1>
        <p class="hero__text">
          Herzlich willkommen auf meiner Portfolio-Webseite! Mein Name ist Roman
          Fausel. Auf dieser Seite findest du Informationen über meine Person
          sowie einige meiner kleinen Projekte, um mich besser kennenzulernen
          und meine Arbeiten zu betrachten. Mehr über mich und meine
          Leidenschaften erfährst du weiter unten. Vielen Dank für deinen Besuch
          und viel Spaß beim Stöbern!
        </p>
      </div>
    </div>
  </div>
</section>
