<section class="hobbys">
  <div class="hobbys__container container">
    <div class="hobbys__wrapper">
      <h2 class="hobbys__title">Hobbys</h2>
      <div class="hobbys__thumb">
        <div class="hobbys__picture"></div>
      </div>
      <ul class="hobbys__list">
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Internet</h2>
          <img class="hobbys__pic" src="#" alt="Picture Internet" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Kino</h2>
          <img class="hobbys__pic" src="#" alt="Picture Kino" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Computer Spiele</h2>
          <img class="hobbys__pic" src="#" alt="Picture Computer Spiele" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Kochen</h2>
          <img class="hobbys__pic" src="#" alt="Picture Kochen" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Alpin Ski</h2>
          <img class="hobbys__pic" src="#" alt="Picture Alpin Ski" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Bücher lesen</h2>
          <img class="hobbys__pic" src="#" alt="Picture Bücher lesen" />
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Reisen</h2>
          <img class="hobbys__pic" src="#" alt="Picture Reisen" />
        </li>
      </ul>
      <div class="hobbys__thumb">
        <div class="hobbys__picture"></div>
      </div>
    </div>
  </div>
</section>
