<section id="hobbys" class="hobbys">
  <div class="hobbys__container container">
    <div class="hobbys__wrapper">
      <div class="hobbys__header">
        <h2 class="hobbys__title">Meine Hobbys</h2>
        <div class="hobbys__thumb">
          <div class="hobbys__picture"></div>
        </div>
      </div>
      <ul class="hobbys__list">
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Wandern</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/wandern.jpg"
              alt="Picture Reisen"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Internet</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/internet.jpg"
              alt="Picture Internet"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Kino</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/kino.jpg"
              alt="Picture Kino"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Computer Spiele</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/pc-gaming.jpg"
              alt="Picture Computer Spiele"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Kochen</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/kochen.jpg"
              alt="Picture Kochen"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Skifahren</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/ski.jpg"
              alt="Picture Alpin Ski"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Bücher lesen</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/buch-lesen.jpg"
              alt="Picture Bücher lesen"
            />
          </div>
        </li>
        <li class="hobby__item">
          <h2 class="hobbys__subtitle">Reisen</h2>
          <div class="hobbys__pic-wrap">
            <img
              class="hobbys__pic"
              src="./images/hobbys/reisen.jpg"
              alt="Picture Reisen"
            />
          </div>
        </li>
      </ul>
      <div class="hobbys__footer">
        <h2 class="hobbys__title">Danke für Ihr Besuch!</h2>
        <div class="hobbys__thumb hobbys__thumb--bot">
          <div class="hobbys__picture hobbys__picture--bot"></div>
        </div>
      </div>
    </div>
  </div>
</section>
