<section id="projects" class="projects">
  <div class="projects__container container">
    <div class="projects__wrapper">
      <div class="projects__thumb">
        <div class="projects__picture"></div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/project-portfolio-creative-technologist"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              Portfolio
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/filmoteka-WaveTech"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              Filmoteka
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/web-studio-project"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              WebStudio
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/YouAreIt/project-icecream"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              IceCream
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/my-portfolio"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              My Portfolio
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-js-hw-11"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              JS-1
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-js-hw-09"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              JS-2
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-js-hw-08"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              JS-3
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-react-hw-01-components"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              React 1
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-react-hw-02-feedback"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              React 2
            </a>
          </div>

          <div class="swiper-slide">
            <a
              href="https://github.com/RoMaN-CoLoGnE/goit-react-hw-02-phonebook"
              class="swiper-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              React 3
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
